.side
  .side-top
    .side-top__items
      .side-name
        = current_user.name
      .side-links
        =link_to new_group_path do
          = link_to new_group_path, class: "side-links__btn" do
            = icon('fas','edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .side-bottom
    - current_user.groups.each do |group|
      .side-bottom__groups
        = link_to '#' do
          .group
            = group.name
          .text
            メッセージはまだありません